@inherits LayoutComponentBase

<div class="page">


    <main>
        <div class="top-row px-2">
            <HomeButton></HomeButton>
            <Search></Search>
        </div>

        <div class="nav-menu">
            <NavMenu></NavMenu>
        </div>


        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
